body {
  background-color: #f7f8fc;
}

.modal-content {
  border-radius: 32px;
  box-shadow: 0 10px 20px -8px #4d4e54;
  border: 0;

  .modal-header {
    padding: 24px 30px;
    border: 0;
  }

  .modal-body {
    padding: 8px 30px 32px;
  }
}
